@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@layer base {
  :root {
    --font-montserrat: 'Montserrat', sans-serif;
    --font-noto: 'Noto Sans', sans-serif;
  }
  .font-montserrat {
    font-family: var(--font-montserrat);
  }
  .font-noto {
    font-family: var(--font-noto);
  }
}
